/* Colors */
$black: #000;
$dark-grey: #444;
$grey: #ccc;
$white: #fff;
$purple: #3d1c6f;
$light-purple: #9442af;
$pink: #cd84e8;
$light-turquoize: #7bfffc;
$turquoize: #36c3c4;

/* Responsives break points */
$desktop: 1024px;
$tablet: 768px;
